#wrapper {
   position: absolute;
   left: 30%;
   top: 20%;
   width: 520px;
   height: 500px;
   border: 1px solid blue;
   border-radius: 10px;
   background-color: rgba(184, 216, 247, 0.514);
}
#qDiv {
   padding: 20px;
   margin: 10px;
}

#currentTime {
   text-align:right;
   font-size: 20px;
   height:10px;
   padding-right:10px
}


.qH1 {
   color: rgb(49, 49, 252);
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   
}
.qH4 {
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   margin-top: 30px;
   color: rgb(66, 56, 0);
}

.five-second {
   color: rgba(253, 0, 0, 0.61);
}

#startBtn {
   margin-left: 33%;
   margin-top: 35px;
   font-size: 25px;
   padding: 10px 20px;
   border: none;
   border-radius: 10px;
   color: #fff;

}

li {
   margin: 10px;
}